extends layout

block content
  h1 Add New Goal
  form(method='POST', action='/goals/add')
    input(type='text', name='title', placeholder='Title', required minlenght='3')
    textarea(name='description', placeholder='Description', required minlenght='5')
    button(type='submit') Add Goal
  if error
    p(style='color: red; font-weight: bold')= error
