extends layout

block content
  h1 Your Fitness Goals
  a(href='/goals/add') Add New Goal
  ul
    each goal in goals
      li
        h3 #{goal.title}
        p #{goal.description}
        a(href=`/goals/${goal.id}/edit`) Edit
        form(method='POST', action=`/goals/${goal.id}/delete`)
          button(type='submit') Delete
